<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Luuk.it</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/luukit")
</head>
<body>
    <div class="center">
        <header id="header">
            <canvas id="consoleHeader" width="600" height="160">
                <span style="color: #00B315">&gt;</span>Luuk.it
            </canvas>
        </header>
        <nav>
            <ul>
                <li>@Html.ActionLink("Projects", "Projects", "Home", null, new { @class = "navigation projects " + ViewBag.ProjectsActive })</li>
                <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "navigation about " + ViewBag.AboutActive })</li>
                <li>@Html.ActionLink("Connect", "Connect", "Home", null, new { @class = "navigation connect " + ViewBag.ConnectActive })</li>
            </ul>
        </nav>
        <section id="articles">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    
    @RenderSection("scripts", required: false)
</body>
</html>
